@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Furore";
  src: url("./fonts/Furore.otf") format("opentype");
  font-weight: 400;
}

body {
  background-color: #0d0d0d;
}

.disabled {
  display: none;
}

.scratchesDesktop {
  background-image: url("./imgs/scratches.png");
}

.scratchesMobile {
  background-image: url("./imgs/scratches_mobile.png");
}

.discordButton {
  background-image: url("./imgs/discord_button.png");
}

.discordLogo {
  background-image: url("./imgs/discord_logo.png");
}
.solanaLogo {
  background-image: url("./imgs/solana_logo.png");
}

.logo {
  background-image: url("./imgs/logo.png");
}

.smoke {
  background-image: url("./imgs/smoke.png");
}

.smokeMobile {
  background-image: url("./imgs/smoke_mobile.png");
}

.buttonLine {
  background-image: url("./imgs/light_line.png");
}

.menuButton {
  background: url("./imgs/button.png"),
    linear-gradient(180deg, rgba(56, 69, 78, 0.24) 0%, #121212 100%), #121212;
}

.closeMenu {
  background-image: url("./imgs/close2.png");
}

.openMenu {
  background-image: url("./imgs/menu2.png");
}

.disabledMobile {
  visibility: hidden;
  position: absolute;
}